@{
    ViewBag.Title = "About";
}
<p>
    <center>
        <h3>@ViewBag.Message</h3>


        MEMBER<br>
        1.Nattawut Likitbunnasak 5730211056 IT<br>
        2.chayatorn rungphasert 5730210057 IT<br>
        3.Mr.Thanwa Daokrachang 5730211012 IT<br>
        4.ittipat pliansamai 5730211069 IT<br>
        5.Sita Chumklaew 5730213074 SE<br>
        6.Worapot naowanit 573021092 IT<br>
        7.kritsakorn kaewkamlang 5730211001 IT
    </center>
</p>
