


@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "ALLAGASH_WHITE";
}
<br>
<center>
    <img src="~/images/ALLAGASH_WHITE.jpg" height="150" width="150" /></center>
   

 <br>
    <h1><center>เบียร์ ALLAGASH WHITE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; แค่เห็นสีก็อดใจจะลองไม่ไหว กับเบียร์จากรัฐเมน ที่มีกลิ่นบางๆของผลไม้ตระกูลส้ม รสชาตินุ่มละมุนลิ้นของลูกแพร์และเลมอน ทำให้ดื่มง่ายลื่นคอแบบเพลินๆ
    </p>

    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>

