
@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "ARROGANT_BASTARD_ALE";
}
<br>
<center>
    <img src="~/images/ARROGANT_BASTARD_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ ARROGANT BASTARD ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“คุณอาจจะไม่ชอบมันก็ได้” นื้คือโคว้ทของแบรนด์นี้! เพราะมันเหมาะสำหรับผู้ช่ำชองที่คอทองแดงเท่านั้น! ที่จะสัมผัสที่รสชาติที่ร้อนแรงของมันได้ แต่ถ้าคุณคือพวกเดียวกับเราก็ชนกันยาวๆ
        และจะไม่ผิดหวังกับรสสัมผัสเข้มข้นที่ไหลประดังเข้ามาในปาก และจบท้ายด้วยกลิ่นฮอพจัดๆ แค่คิดก็ฟินแล้ว
    </p>

<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>






