
@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "AVERY_HOG_HEAVEN";
}
<br>
<center>
    <img src="~/images/AVERY_HOG_HEAVEN.jpg" height="150" width="150" /></center>

    <br>
    <h1><center>เบียร์ ARROGANT BASTARD ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากรัฐโคโลราโดที่ใช้วิธี Dry hopping คือการใส่ฮอพลงไปหลังจากการหมัก โดยจะเลือกฮอพที่มีกลิ่นหอมมากหน่อย และนี้คือเบียร์สีเข้มๆที่เหมาะกับผู้ชื่นชอบรสชาติฮอพแบบเน้นๆ บาลานซ์ลงตัวด้วยคาราเมล มอลต์แบบเข้มข้น จิบแล้วเหมือนขึ้นสวรรค์!
    </p>

    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>



