



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "BEAR_REPUBLIC_RED_ROCKET_ALE";
}
<br>
<center>
    <img src="~/images/BEAR_REPUBLIC_RED_ROCKET_ALE.jpg" height="150" width="150" /></center>
    <br>
    <center><h1>เบียร์ BEAR REPUBLIC RED ROCKET ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากเมืองเฮลด์สเบิร์ก แคลิฟอร์เนีย ผู้ผลิตคือ Bear Republic ที่สุดจะภูมิใจนำเสนอเบียร์ red ale แบบสก็อตติชสไตล์
        ที่พวกเขาบอกว่าเสมือนมันเดินทางจากสก็อตแลนด์มาแคลิฟอร์เนีย! และเจ้าเบียร์ตัวนี้ก็ให้กลิ่นหอมพรั่งพรูของฮอพพันธุ์ดีและรสสัมผัสอ่อนๆของคาราเมล
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
















