

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "BEAR_REPUBLIC_HOP_ROD_RYE";
}
<br>
<center>
    <img src="~/images/BEAR_REPUBLIC_HOP_ROD_RYE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ BEAR REPUBLIC HOP ROD RYE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่งสูตรจาก Bear Republic และถ้าหากคุณยังไม่เคยลองเบียร์ไรย์ ตัวนี้เป็นตัวเริ่มต้นที่ดีทีเดียว
        โดยใช้มอลต์จากข้าวไรย์ 18% ได้รสชาติเข้มข้น เบรคด้วยฮอพกลิ่นหอมๆและรสบางเบาของคาราเมล
    </p>

<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>













