

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "BELLS_SMITTEN_GOLDEN_RYE_ALE";
}
<br>
<center>
    <img src="~/images/BELLS_SMITTEN_GOLDEN_RYE_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ BELLS SMITTEN GOLDEN RYE ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์อเมริกัน Pale Ale สไตล์ ที่เลือกใช้ไรย์เป็นจุดเด่น สีเหลืองทองกับฟองนุ่มๆการันตีว่ามันดื่มง่ายลื่นคอสุดๆ รสสัมผัสเบาๆ จิบแล้วได้กลิ่นหอมของส้มลอยมาอ่อนๆอีกด้วย
    </p>

<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>
