

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "BELLS_HOPSLAM_ALE_MICHIGAN";
}
<br>
<center>
    <img src="~/images/BELLS_HOPSLAM_ALE_MICHIGAN.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ BELLS HOPSLAM ALE MICHIGAN</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่ง Double IPA ที่มีกลิ่นหอมเป็นเอกลักษณ์ โดยคัดสรรพืชฮอพ 6 ชนิดจากตะวันตกตอนเหนือของประเทศ
        ได้รสชาติขมๆแต่บาลานซ์ลงตัวกับรสชาติของมอลต์ เมื่อลองจิบดูเเล้วยังได้กลิ่นหอมอ่อนๆของพืชตระกูลส้ม และน้ำผึ้งอีกด้วย
    </p>

<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>



