

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "BREW_FREE_OR_DIE_IPA";
}
<br>
<center>
    <img src="~/images/BREW_FREE_OR_DIE_IPA.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ BREW FREE OR DIE IPA</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;จะลองเบียร์ฟรีหรือตาย! นี้คือชื่อเบียร์ที่มีโลโก้สุดเจ๋งกับรูปผู้นำสหรัฐทั้ง 4 ที่ภูเขารัชมอร์ เป็นเบียร์ที่ผลิตจากโรงงาน 1st Amendment Brewery ในซานฟราสซิสโก
        เบียร์สีทองอร่ามยี่ห้อนี้มีหมัดเด็ดที่พืชฮอพ 6 ชนิดและมอลต์เข้มข้น กลิ่นเตะจมูกทันทีที่ลอง รู้อย่างนี้แล้วขอเบียร์ฟรีดีกว่าตาย!
    </p>

    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
