

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "BROOKLYN_BLACK_OPS";
}
<br>
<center>
    <img src="~/images/BROOKLYN_BLACK_OPS.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ BROOKLYN BLACK OPS</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากบรู๊คลิน นิวยอร์ก ที่มาในสไตล์แชมเปญ! หมักอย่างพิถีพิถันเพิ่มช็อคโกแลต กาแฟ และวานิลลา ใช้เทคนิคการหมักแบบแชมเปญโดยยีสต์มักแบบนอนก้น
        คือเชื้อยีสต์ที่จะจมอยู่ที่ก้นถังเมื่อหมักเสร็จ และผลลัพธ์คือเบียร์ฟองนุ่มหนา สัมผัสลิ้นแล้วจะไม่อยากหยุดดื่ม!
    </p>


<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

