


@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "DALES_PALE_ALE";
}
<br>
<center><img src="~/images/DALES_PALE_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ DALES PALE ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่งเบียร์จากรัฐโคโลราโด มีเอกลักษณ์ที่กลิ่นฮอพหอมอ่อนๆผสานมอลต์และกลิ่นของเกรปฟูตลอยแตะจมูก ทำให้ดื่มแล้วสดชื่น สัมผัสนุ่มนวลแต่รสชาติขมนิดๆ ยิ่งดื่มยิ่งวางไม่ลง!
    </p>

    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
