

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "DESCHUTES_THE_ABYSS";
}
<br>
<center>
    <img src="~/images/DESCHUTES_THE_ABYSS.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ DESCHUTES THE ABYSS</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์สเตาท์ที่ประกอบไปด้วยกากน้ำตาล ชะเอมเทศ วานิลลา และเชอร์รี่ ผลิตที่โรงงาน Deschutes Brewery ในรัฐโอเรกอน
        โดยกรรมวิธีการหมักเบียร์ในถังโอ๊ค และก็บูมมม! ได้รสชาติเข้มข้นฮาร์ดคอร์เหมาะสำหรับคอเบียร์ทั้งหลาย
    </p>


    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
