

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "DESCHUTES_BLACK_BUTTE_PORTER";
}
<br>
<center>
    <img src="~/images/DESCHUTES_BLACK_BUTTE_PORTER.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ DESCHUTES BLACK BUTTE PORTER</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สีดำเข้มๆนี้ได้จากช็อกโกแลต คาราเมลไหม้ และฮอพต่างๆที่ให้รสชาติขมแต่เมื่อทุกอย่างผสมผสานกันลงตัวก็ปฏิเสธไม่ได้เลยว่า Porter จากรัฐโอเรกอนยี่ห้อนี้เยี่ยมจริงๆ

    </p>


<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

