

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "DUCK_RABBIT_BROWN_ALE";
}
<br>
<center>
    <img src="~/images/DUCK_RABBIT_BROWN_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ DUCK RABBIT BROWN ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Porter เบียร์ที่มีสีอ่อนลงมาเล็กน้อย และเรียกขานตัวเองว่า Brown Ale นั่นคือ Ale ประเภทหนึ่งที่มีสีเข้ม และมีกลิ่นมอลต์แรงๆ!
        ผู้ผลิตคือ Duck-Rabbit Craft Brewery, Farmville จากรัฐนอร์ทแคโรไลนา คือผู้เชี่ยวชาญในการทำเบียร์ดำ
        ที่คัดเลือกฮอพจากรัฐแท็กซัส มีมอลต์ที่แตกต่างกันถึง 7 ชนิดคุณจะได้กลิ่นมันเตะจมูกและตั้งแต่จิบแรกกลิ่นของมอลต์และรสชาติขมนิดๆแต่ชุ่มคออย่างไม่น่าเชื่อ!
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

