



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "DUCLAW_RETRIBUTION";
}
<br>
<center>
    <img src="~/images/DUCLAW_RETRIBUTION.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ DUCLAW RETRIBUTION</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ต้องขอบอกว่า “คุ้มค่ากับการรอ” กับเบียร์ตัวนี้ที่ใช้เวลาหมักในถัง bourbon ถึง 6 เดือนเพื่อให้ส่วนประกอบต่างๆออกมาลงตัว มีแอลกอฮอล์สูงพอๆกับรสชาติล้ำเกินบรรยาย กับรสสัมผัสแน่น
        มีความมันนิดๆของครีมและคาราเมล กลิ่นหอมเข้ม เป็นเบียร์ที่ให้รสชาติคล้ายกับคุณกำลังจิบเอสแพรสโซ่แต่มันเข้มข้นยิ่งกว่า
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>
