
@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "EDMUND_FITZGERALD";
}
<br>
<center>
    <img src="~/images/EDMUND_FITZGERALD.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ EDMUND FITZGERALD</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากเมืองคลีฟแลนด์ รัฐโอไฮโอ ที่ตั้งชื่อตามเรือที่จมเมื่อปี ค.ศ. 1975 ทำไมงั้นล่ะ?? เพราะผู้ผลิตบอกว่าเบียร์นี้มีรสชาติที่นุ่มลึก อีกทั้งยังมีสีดำเข้มดูเหมือนกำลังจมดิ่งยังไงยังงั้น! จิบสักหนึ่งจิบและคุณจะได้สัมผัสรสชาติลึกๆล้ำๆนี้
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>