



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "EDWARD";
}
<br>
<center>
    <img src="~/images/EDWARD.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ EDWARD</center></h1>
    <p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เป็นเบียร์ที่หาดื่มยากมาก แม้แต่ในอเมริกาเองก็แทบจะหาซื้อไม่ได้ ไม่ใช่เพราะมันไม่เป็นที่นิยมหรือรสชาติห่วย แต่เพราะมัน Rare! ได้รับการยกย่องว่าเป็นเบียร์ Pale Ale ที่สุดยอดสุดๆในอเมริกา!
        ผู้ผลิตคือ Hill Farmstead Brewery ซึ่งทำการผลิตเบียร์กันจากรุ่นสู่รุ่นมานานและผลิตเน้นคุณภาพ ไม่เน้นปริมาณ ถ้าหากคุณบังเอิญไปเจอยี่ห้อนี้เข้าละก็
        คุณเจอตำนานเข้าแล้ว เชื่อเราเถอะซื้อมันซะ! แล้วจะไม่เสียใจ
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
