




@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "ELYSIANS_THE_GREAT_PUMPKIN";
}
<br>
<center>
    <img src="~/images/ELYSIANS_THE_GREAT_PUMPKIN.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ ELYSIANS THE GREAT PUMPKIN</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุดยอดเบียร์ตัวสุดท้ายจากเมืองซีแอตเทิล ที่มีส่วนประกอบของฮอพและมอลต์หลายสายพันธุ์ ผสมผสานกับฟักทองและเมล็ดฟักทอง
        เพิ่มรสชาติเข้าไปอีกด้วย อบเชย ลูกจันทน์เทศ กานพลู และเครื่องเทศออลสไปซ์ ได้รสชาติซู่ซ่า และจะเป็นประสบการณ์การดื่มที่คุณจะประทับใจ
        แน่นอนว่าขายเฉพาะช่วงเดือนกันยายนถึงเดือนธันวาคม
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>
