



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "FLYING_DOG_IN_HEAT_WHEAT";
}
<br>
<center>
    <img src="~/images/FLYING_DOG_IN_HEAT_WHEAT.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ FLYING DOG IN HEAT WHEAT</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;น้องหมาขอบินคือเบียร์แพ็คเกจกวนๆที่มีรูปหมาน้อยหน้าตาทะเล้น จากรัฐแมรี่แลนด์ เป็น Wheat beer
        ที่กระแทกกระทั้นกันด้วยรสชาติเต็มๆของ Wheat และเพิ่มกลิ่นผลไม้อย่างตระกูลส้ม ยิ่งช่วยทำให้รู้สึกสดชื่นว
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
