



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "FOUNDERS_KENTUCKY_BREAKFAST_STOUT";
}
<br>
<center>
    <img src="~/images/FOUNDERS_KENTUCKY_BREAKFAST_STOUT.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ FOUNDERS KENTUCKY BREAKFAST STOUT</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากรัฐมิชิแกน ที่มีกรรมวิธีพิถีพิถันกับการหมักในถังโอ๊ค Bourbon นานเป็นปี ผสมช็อกโกแลตและเมล็ดกาแฟเพิ่มเข้าไปอีก
        เมื่อลองดื่มแล้วจะได้รสชาติเข้มๆแบบ Strong หลายๆคนต่างยกย่องว่าเป็นอีกหนึ่งในเบียร์ที่ดีที่สุด!
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
