



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "FOUNDERS_REDS_RYE";
}
<br>
<center>
    <img src="~/images/FOUNDERS_REDS_RYE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ FOUNDERS REDS RYE</h1></center>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์เรดไรย์จากรัฐมิชิแกน ที่แน่นอนว่าได้ชื่อมาจากสีของมัน ขอบอกว่าเลยว่ามันรสชาติดีเยี่ยม! ที่สุดแห่งความนุ่มลิ้น และกลิ่นเกรปฟูตยิ่งช่วยกระตุ้นให้อยากจะยกดื่มเรื่อยๆ
        เป็นความลงตัวกันของคาราเมลมอลต์และเครื่องเทศ เป็นขวดที่เราแนะนำว่าต้องลองให้ได้!!
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

