



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "FOUNDERS_BREAKFAST_STOUT";
}
<br>
<center>
    <img src="~/images/FOUNDERS_BREAKFAST_STOUT.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ FOUNDERS BREAKFAST STOUT</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์เจ๋งๆจากรัฐมิชิแกนกับรูปเด็กน้อยหม่ำอาหารเช้า เบียร์ให้รสชาติบาลานซ์ของกาแฟและช็อกโกแลตมีทั้งความหวานและความขมแสนจะลงตัว
        หมักกับโอ๊ต กาแฟโคน่า และช็อกโกแลต เป็นความขี้เล่นของผู้ผลิตที่อยากให้คุณจิบเบียร์(ผสมกาแฟ)แทนอาหารเช้า แล้วคุณอยากลองดูไหมล่ะ
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>


