



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "GNOMEGANG";
}
<br>
<center>
    <img src="~/images/GNOMEGANG.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ GNOMEGANG</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์ที่ผลิตจากเมืองคูเปอร์สทาวน์ รัฐนิวยอร์ก มีวิธีการหมักยีสต์ที่ทำให้ได้รสชาติอันเป็นเอกลักษณ์ อีกทั้งยังมีกลิ่นกานพลู ผลไม้ที่สุกงอมฉ่ำ และยังมีรสบางๆของคาราเมลแต่ไม่หวานเลี่ยนจนเกินไป หากคุณชอบดื่มสไตล์นี้รับรองชื่นใจ
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
