




@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "GOOSE_ISLAND_BOURBON_COUNTY_BRAND_COFFEE_STOUT";
}
<br>
<center>
    <img src="~/images/GOOSE_ISLAND_BOURBON_COUNTY_BRAND_COFFEE_STOUT.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ GOOSE ISLAND BOURBON COUNTY BRAND COFFEE STOUT</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่งสูตรพิเศษที่ทำเป็น limited edition ปีละครั้ง กลิ่นหอมๆของกาแฟคั่วที่ Goose Island ตั้งใจเลือกสรรและทำอย่างสุดฝีมือ
        แต่ละปีผู้ผลิตจะเปลี่ยนกาแฟทำให้มีรสชาติแตกต่างกันไป เป็นเบียร์ที่มีรสชาติเฉพาะตัวจริงๆ
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

