



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "GREEN_FLASH_HOP_HEAD_RED_ALE";
}
<br>
<center>
    <img src="~/images/GREEN_FLASH_HOP_HEAD_RED_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ GREEN FLASH HOP HEAD RED ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์ยี่ห้อ Green Flash ครองใจนักดื่มเบียร์ตัวยงมานักต่อนักแล้ว เป็นอีกหนึ่งผู้ผลิตเบียร์จากซานดิเอโก้ที่ใครๆต่างก็ยอมรับว่าฝีมือการทำเบียร์นั่นช่างเด็ดขาดเสียจริงๆ
        สูตร Hop Head มีที่เด็ดที่เพิ่มฮอพแบบพิเศษลงไป ผลลัพธ์ที่ได้คือเบียร์กลิ่นหอมสีสวยตัวนี้ยังไงล่ะ
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
