



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "GUINNESS";
}
<br>
<center>
    <img src="~/images/GUINNESS.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ GUINNESS</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถ้าพูดถึงสเตาท์แล้วไม่พูดถึง GUINNESS ถือว่าผิดมหันต์! เบียร์ GUINNESS ชื่อดังจากเมืองดับลิบ ประเทศไอร์แลนด์ ที่ยอดขายดีติดอันดับโลก
        ความโดดเด่นของสเตาท์เบียร์ยี่ห้อนี้คือรสชาตินุ่มๆที่ปลายลิ้นและปิดท้ายด้วยความขมหน่อยๆ หาซื้อได้ไม่ยากและรสชาติก็คุ้มค่าที่จะลองจริงๆ
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

