



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "HOEGAARDEN";
}
<br>
<center>
    <img src="~/images/HOEGAARDEN.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ HOEGAARDEN</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ส่วนประกอบหลักในการหมักเบียร์มี 4 อย่างคือ น้ำ มอลต์(ได้จากเมล็ดข้าวอบแห้งหรือคั่ว ส่วนมากใช้เมล็ดข้าวบาร์เลย์) ฮอพ
        (พืชชนิดหนึ่งมีคุณสมบัติเหมือนสารกันบูด ให้รสขมตัดกับรสของมอลต์ และกลิ่นเฉพาะตัวในแต่ละสายพันธุ์) และ ยีสต์ นอกจากนั้นผู้ผลิตรายต่างๆยังเพิ่มส่วนผสมอื่นอีก
        เพื่อเพิ่มกลิ่นและรสชาติ เช่นผลไม้ต่างๆ ธัญพืชเช่น เมล็ดข้าวสาลี ข้าวโพด แม้กระทั้งกาแฟและช็อคโกแลต!
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>
