



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "JOHN_JOHN_DEAD_GUY_ALE";
}
<br>
<center>
    <img src="~/images/JOHN_JOHN_DEAD_GUY_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ JOHN JOHN DEAD GUY ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ผลิตคือ Rogue Ales ที่มีโรงต้มกลั่นวิสกี้ จับมือร่วมงานกับทีมหมักเบียร์เพื่อที่จะรังสรรค์ มิสเตอร์จอห์นจอห์นให้ออกมาโลดแล่น
        พวกเขาใช้เวลา 2 เดือนในการหมักเบียร์ในถังไม้วิสกี้ เพิ่มคาราเมลและวานิลลาลงไป ก็จะได้วิสกี้เบียร์สูตรพิเศษ ค่อยๆจิบล่ะเพราะรสมันแรงสุดๆ
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>