



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "KARL_STRAUSS_RED_TROLLEY_ALE";
}
<br>
<center>
    <img src="~/images/KARL_STRAUSS_RED_TROLLEY_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ KARL STRAUSS RED TROLLEY ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากซานดิเอโก้ที่การันตีรางวัลเหรียญทองจาก Great American Beer festival รางวัลใหญ่ที่ผู้ผลิตเบียร์ทั่วอเมริกาต่างฝันถึง!
        ด้วยรสสัมผัสลึกล้ำของเบียร์ตัวนี้มีรสชาติเข้มของมอลต์และหวานๆของท็อฟฟี่ และนี้คือสุดยอด Red Ale
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
