



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "KELLER_PILS";
}
<br>
<center>
    <img src="~/images/KELLER_PILS.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ KELLER PILS</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keller Pils คือเบียร์ที่เหมาะสำหรับวันชิลๆ จิบเบียร์ไปเรื่อยๆแล้วเอนกายนอนเอกเขนก วันสบายๆที่ไม่รีบร้อนเหมาะมากกับเบียร์หอมฮอพหลากหลายชนิดที่ผู้ผลิต Southampton Publick House
        หมั่นทดลองเพิ่มฮอพ และหมักเบียร์สูตรพิเศษๆออกมาเสมอ
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>