


@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "LAGUNITAS_LIL_SUMPIN_SUMPIN_ALE";
}
<br>
<center>
    <img src="~/images/LAGUNITAS_LIL_SUMPIN_SUMPIN_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ LAGUNITAS LIL SUMPIN SUMPIN ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากผู้ผลิต Lagunitas Brewing Company มีเอกลักษณ์อันโดดเด่นกับกลิ่นแรงของฮอพแต่ให้รสสัมผัสนุ่มลื่นคอเหมือนผ้าไหม!
        ฮอพต่างๆผสมผสานเข้ากันกับ Wheat และได้ออกมาเป็นรสชาติเพอร์เฟคลงตัว
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
