




@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "LEFT_HAND_MILK_STOUT";
}
<br>
<center>
    <img src="~/images/LEFT_HAND_MILK_STOUT.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ LEFT HAND MILK STOUT</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่งสเตาท์เบียร์จากอเมริกา ผลิตที่โรงงาน Left Hand Brewing Co รัฐโคโลราโด เบียร์ล้ำๆที่มีครีมนมผสม เค้าการันตีว่าจะทำให้คุณทึ่งกับรสชาติที่คาดไม่ถึง!
        ด้วยความหวานมันให้ฟิลเหมือนกินขนม แต่มันคือเบียร์รสชาติแสนอร่อย!
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>