
@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "LION_STOUT";
}
<br>
<center><img src="~/images/LION_STOUT.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์  LION STOUT</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lion Stout เบียร์สิงโตจากประเทศเพื่อนบ้านไม่ใกล้ไม่ไกลเราเกินไปอย่างศรีลังกา เห็นชื่อประเทศแล้วอย่าดูถูกเชียว
        เพราะเจ้า Lion Stout นี้พกดีกรีรางวัลมาแล้วมากมาย แถมบรรดานักรีวิวยังให้คะแนนเจ้าสิงโตตัวนี้ในระดับสูงอีกด้วย เทเบียร์มาเป็นสีดำสนิททึบแสงตามแบบฉบับ
        Stout ฟองพรายสีน้ำตาลอ่อนๆ ยุบตัวค่อนข้างเร็ว ลองดมกลิ่น แรกสุดเป็นกลิ่นดาร์กช็อคโกแลตเข้มข้น
        ผสมกับกลิ่นคาราเมลหวานหอมอวลๆ กลิ่นวานิลลา มีกลิ่นคั่วๆไหม้ๆเล็กน้อย แทรกด้วยกลิ่นเครื่องเทศน์และแอลกอฮอล์ตอนท้าย
        ลองชิมรสชาติเหมือนๆกับกลิ่น เป็นรสหวานปนขมแบบดาร์กช็อคโกแลตผสมกับขมแบบคั่วไหม้มาก่อนตอนแรก
        ก่อนจะคลายกลิ่นหอมๆของวานิลลาออกมา กลิ่นแบบดินๆ ธรรมชาติๆ Aftertaste ทิ้งรสขมช็อคโกแลตติดลิ้นไว้ บอดี้กลางๆ
        ไม่ถึงกับฟูล ช่วยทำให้กินง่ายขึ้น รสชาติกลมกล่อมลงตัว  ไม่บอกไม่รู้ด้วยซ้ำว่า abv สูงถึง 8.8% เพราะซ่อนสัมผัสได้ดีมาก
        เป็น Stout ที่ดีไม่แพ้เบียร์ของยุโรปทีเดียว แต่ราคาย่อมเยากว่ากันเยอะ ขา Stout ห้ามพลาดทีเดียวตัวนี้
    </p>

    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>



  
