



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "LOST_COAST_GREAT_WHITE";
}
<br>
<center>
    <img src="~/images/LOST_COAST_GREAT_WHITE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ LOST COAST GREAT WHITE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คำเตือนจากเบียร์นี้คือ ระวัง! มันจะทำให้คุณหยุดดื่มไม่ได้เลย กับเบียร์สัญชาติอเมริกาที่ได้เทคนิคกรรมวิธีแบบเบลเยี่ยมสไตล์ ซึ่งเป็นที่รู้กันดีว่าคือตัวพ่อแห่งเบียร์! และนี้คือเบียร์รสชาติเบาๆจิบเพลินๆฟีลกู๊ดยาวไป
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
