



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "NEWCASTLE_BROWN_ALE";
}
<br>
<center>
    <img src="~/images/NEWCASTLE_BROWN_ALE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ NEWCASTLE BROWN ALE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์ดำจากสก็อตแลนด์ซึ่งเป็นอีกหนึ่งแหล่งที่ขึ้นชื่อว่ามีเบียร์ดำเจ๋งๆมากมายให้ลองชิม และยี่ห้อนี้ก็ไม่ทำให้เสียชื่อชาวสก็อต!
        กับเบียร์ดำ Porter มาตรฐานสูง มีวิธีการผลิตที่ได้คุณภาพ และถึงแม้จะขนส่งข้ามน้ำข้ามทะเลไปประเทศไหนๆ เบียร์นิวคาสเซิลก็ยังคงรสชาติเยี่ยม
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>

