



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "NINKASI_SPRING_REIGN";
}
<br>
<center>
    <img src="~/images/NINKASI_SPRING_REIGN.jpg" height="150" width="150" /></center>
        <br>
        <h1><center>เบียร์ NINKASI SPRING REIGN</center></h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่งเบียร์ Blonde จากอเมริกา กับรสชาตินุ่มนวลบางๆ แต่ถึงใจด้วยมอลต์และฮอพแบบจัดหนัก ชื่อแบรนด์มาจากเทพ Ninkasi เป็นเทพแห่งการหมักเบียร์ของชาวบาบิโลเนียน และเพื่อฉลองในฤดูใบไม้ผลิการดื่มเบียร์เจ๋งๆสักหน่อยก็เป็นความคิดแสนจะเข้าท่า!
        </p>
        <style>
            body {
                background-image: url("paper.gif");
                background-color: #cccccc;
            }
        </style>
