



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "PILSNER_URQUELL";
}
<br>
<center>
    <img src="~/images/PILSNER_URQUELL.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ PILSNER URQUELL</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; และในที่สุดเบียร์จากสาธารณรัฐเช็ก! เป็นต้นตำหรับ Pilsner ที่เริ่มตั้งแต่กลางศตวรรษที่ 19 แน่นอนว่ายังคงรักษาชื่อเสียงไว้อย่างเหนียวแน่นกับเบียร์ Pilsner Urquell สีเหลืองอ่อนที่แอบให้กลิ่นข้าวโพดหวาน รสสัมผัสนิ่มๆไหลลงคอแบบลื่นๆ จิบได้เรื่อยๆไม่สะดุดเลยล่ะ
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>


