



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "PIVO_HOPPY_PILS";
}
<br>
<center>
    <br>
    <img src="~/images/PIVO_HOPPY_PILS.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ PIVO HOPPY PILS</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อีกหนึ่งเบียร์ที่ให้ความรู้สึกสดชื่น แค่ได้กลิ่นหอมของมะกรูดและมะนาวก็รู้สึกผ่อนคลายแล้ว และยังมีกลิ่นหอมของดอกไม้อื่นๆซ่อนอยู่อีกด้วย สีเบียร์เหลืองอ่อนใสๆกับสัมผัสกลางๆไม่หนักจนเกินไปและก็เป็นอีกหนึ่งตัวเลือกของ Pilsner
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
