



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "PUMKING";
}
<br>
<center>
    <img src="~/images/PUMKING.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ PUMKING</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากเลควู๊ด รัฐนิวยอร์ก ที่ผู้ผลิต Southern Tier ขอยกเครดิตให้กับจิตวิญญาณแห่งฮาโลวีน! ขอบอกว่าถ้าคุณได้ลองดื่มมัน คุณจะสัมผัสได้ถึงความวิเศษของฟักทองขวดนี้
        เป็นความลงตัวของเครื่องเทศที่ชูรสชาติฟักทองให้โดดเด่น เหมือนกับคุณกำลังกินพายฟักทองที่มีความหอมมันของวิปครีม!
        ไม่เชื่อก็ต้องเชื่อแล้วล่ะว่าทั้งหมดที่บรรยายมารวมอยู่ในขวดนี้ สิ่งที่แย่สุดๆของเบียร์ตัวนี้คือมันมีขายเฉพาะช่วงเดือนกันยายนถึงเดือนธันวาคมเท่านั้น! และในเมืองไทยอาจจะหาซื้อยากอยู่สักหน่อย
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>
