



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "ROGUE_HAZELNUT_BROWN_NECTAR";
}
<br>
<center>
    <img src="~/images/ROGUE_HAZELNUT_BROWN_NECTAR.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ ROGUE HAZELNUT BROWN NECTAR</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Porter เบียร์ สัญชาติอเมริกันจากรัฐโอเรกอน ที่เกิดจากการนำถั่วไปอบจนเกือบไหม้ เพิ่มความหวานด้วยช็อกโกแลตและตบท้ายด้วยมอลต์ เป็นส่วนประกอบที่ลงตัวสุดๆ
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
