



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "SCHNEIDER_WEISSE";
}
<br>
<center>
    <img src="~/images/SCHNEIDER_WEISSE.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ SCHNEIDER WEISSE</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เริ่มกันที่ยี่ห้อแรกกับ Pliny the elder ผลิตจากโรงงาน Russian River Brewing Co. ในเมืองซานตาโรซ่า รัฐแคลิฟอร์เนีย
        เป็น Double IPA นั้นคือการใช้พืชฮอพมากกว่า 1 ชนิดผสมผสานได้ลงตัวกับมอลต์ บางคนบอกว่านี้เป็นหนึ่งในเบียร์ที่ดีที่สุดในสหรัฐ!
        จุดเด่นคือเมื่อคุณดื่มจะให้ความสดชื่นกับรสชาติที่ลงตัวของพืชฮอพ มอลต์ และผลไม้ตระกูลส้ม ลองแล้วจะติดใจจิบจนหมดแก้ว!
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>