


@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "SCRIMSHAW";
}
<br>
<center>
    <img src="~/images/SCRIMSHAW.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ SCRIMSHAW</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากเมือง Fort Bragg เป็นเมืองติดชายฝั่งจากรัฐแคลิฟอร์เนีย ชื่อและเทรดมาร์คของแบรนด์ได้แรงบันดาลใจจากกะลาสีเรือ
        Scrimshaw เบียร์เหลืองอ่อน รสชาติเบาๆแบบ Lager จิบง่าย ซดคล่อง
        รสชาติขมอ่อนมากสัมผัสแค่ปลายลิ้นและกลิ่นหอมละมุนของดอกไม้ผสมกับฮอพอื่นๆ เป็นเบียร์อีกหนึ่งตัวเลือกที่น่าสนใจ
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>









