

@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "SCULPIN_IPA";
}
<br>
<center>
    <img src="~/images/SCULPIN_IPA.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ SCULPIN IPA</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากโรงงาน Ballast Point Brewing ซานดิเอโก้ แคลิฟอร์เนีย คุณจะได้ลิ้มลองรสชาติขมอ่อนๆของฮอพ และยังฉ่ำหอม
        ด้วยผลไม้อย่าง มะม่วง พีช และเลมอน เห็นเบียร์ยี่ห้อปลา Sculpin ที่ไหนล่ะก็อย่าลืมหยิบติดไม้ติดมือไปลองล่ะ!
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>









