
@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "SIERRA_NEVADA";
}
<br>
<center>
    <img src="~/images/SIERRA_NEVADA.jpg" height="150" width="150" /></center>
        <br>
        <h1><center>เบียร์ SIERRA NEVADA</center></h1>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผลิตที่โรงงาน Stone Brewing เมืองชิคาโก รัฐแคลิฟอร์เนียร์ รสชาติขมนิดๆเป็นเสน่ห์อย่างหนึ่งของเบียร์ชนิดนี้ รินให้มีฟองสักหน่อยแล้วจิบชิมฟองนุ่มๆ
            ยังได้กลิ่นหอมอ่อนๆจากเครื่องเทศหลากหลาย ยิ่งจิบยิ่งผ่อนคลาย
        </p>
        <style>
            body {
                background-image: url("paper.gif");
                background-color: #cccccc;
            }
        </style>











