@model IEnumerable<AspBeersProject.Beer>
    @{
        ViewBag.Title = "SIXTY_MINUTE_DOGFISH";
    }
<br>
<center>
    <img src="~/images/SIXTY_MINUTE_DOGFISH.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ SIXTY MINUTE DOGFISH</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เบียร์ชื่อดังจากโรงงาน Dogfish Head Brewery รัฐเดลาแวร์ เป็นเบียร์ที่ใช้พืชฮอพมากกว่า 60 ชนิด และต้มนานถึง 60 นาที! และนั้นก็คือที่มาของชื่อเบียร์
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>



