


@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "ST_ARNOLD_AMBER";
}
<br>
<center>
    <img src="~/images/ST_ARNOLD_AMBER.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ ST ARNOLD AMBER</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; จากผู้ผลิต Saint Arnold เมืองฮูสตัน รัฐเท็กซัส เป็นเบียร์ที่ใส่ใจในรายละเอียดมาก
        โดยเลือกมอลต์ Caravienne ซึ่งเป็นธัญพืชมอลต์อย่างดีจากเบลเยี่ยมจุดเด่นคือความหอมและรสเฉพาะตัว
        เลือกสรรฮอพจากทางตะวันตกเฉียงเหนือของอเมริกา ดูจากส่วนผสมที่คัดอย่างพิถีพิถันแล้วก็ไม่แปลกใจเลยว่าทำไมหลายๆคนยกให้เป็น Amber สุดเจ๋ง
        ด้วยรสชาติลงตัว อีกทั้งยังหอมกลิ่นฉ่ำๆของผลไม้และดอกไม้
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>











