



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "THREE_FLOYDS_ZOMBIE_DUST";
}
<br>
<center>
    <img src="~/images/THREE_FLOYDS_ZOMBIE_DUST.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ THREE FLOYDS ZOMBIE DUST</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รัฐอินเดียน่าส่งเข้าประกวด! กับเบียร์แพ็คเกจสุดเจ๋งที่เห็นแค่ขวดก็อยากจะยกดื่มสักอึก!
        และเมื่อลองดื่มแล้วความเข้มข้นเต็มไปด้วยฮอพต่างๆก็ไหลพุ่ง รสชาติแรงแบบปลุกซอมบี้ตื่น!
        ผู้ผลิตคัดสรรเลือกฮอพอย่างดีจาก Yakima valley และยังมีกลิ่นหอมๆของสมุนไพร ส้ม และดอกไม้อีกด้วย ใครว่ารสชาติดุดันจะมีกลิ่นหอมไม่ได้ล่ะ
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
