



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "TROEGS_NUGGET_NECTAR";
}
<br>
<center>
    <img src="~/images/TROEGS_NUGGET_NECTAR.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ TROEGS NUGGET NECTAR</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แค่เห็นสีเบียร์เราก็ตกหลุมรักมันแล้ว! อยากจะลองดื่มจริงๆ กับเบียร์จากรัฐเพนซิลเวเนียที่ผู้ผลิตเคลมว่า "Nugget Nectar จะนำท่านคอเบียร์ทั้งหลายสู่นิพพาน" ขนาดนั้นเลยล่ะ!
        เป็นผู้ผลิตที่ชอบเล่นกับความหวานของมอลต์แบบจัดเต็ม ตัดกับรสชาติขมๆของฮอพหลากหลายพันธุ์
    </p>
<style>
    body {
        background-image: url("paper.gif");
        background-color: #cccccc;
    }
</style>


