



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "VICTORY_PRIMA_PILS";
}
<br>
<center>
    <img src="~/images/VICTORY_PRIMA_PILS.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ VICTORY PRIMA PILS</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“พริม่า” คือภาษาเยอรมันที่ร้องตะโกนตอนมีความสุข และเบียร์จากรัฐเพนซิลเวเนียก็ทำให้เราแทบจะตะโกนออกมาว่า พริม่า! พริม่า!
        เพราะมันเจ๋งจริงๆกับเบียร์สัมผัสนุ่มๆไม่หนักไปไม่เบาบางจนเกินไป ดื่มได้เพลินๆให้ความสดชื่นเหมาะกับอากาศบ้านเราซะจริง
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
