



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "WEIHENSTEPHANER_HEFEWEISSBIER";
}
<br>
<center>
    <img src="~/images/WEIHENSTEPHANER_HEFEWEISSBIER.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ WEIHENSTEPHANER HEFEWEISSBIER</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์เยอรมันชื่อแสนจะยาวสีเหลืองเข้มตัวนี้มีทีเด็ดคือรสชาติของมอลต์ที่ติดปลายลิ้นแต่ตบท้ายด้วยความหวานของน้ำผึ้งและครีม! มันลงตัวกันทุกอย่างจนอยากจะซดดื่มแบบไม่ให้เหลือ!
        เป็น Wheat beer ที่ได้ติดท็อปในหลายๆเว็ปไซต์ อร่อยอีกต่อด้วยกับแกล้มที่ผู้ผลิตแนะนำว่าควรทานคู่กับไส้กรอก Bavarian และ Weisswurst
    </p>
        <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
