



@model IEnumerable<AspBeersProject.Beer>

@{
    ViewBag.Title = "WIDMER_HEFEWEIZEN";
}
<br>
<center>
    <img src="~/images/WIDMER_HEFEWEIZEN.jpg" height="150" width="150" /></center>
    <br>
    <h1><center>เบียร์ WIDMER HEFEWEIZEN</center></h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์จากเมืองพอร์ทแลนด์เมืองแห่งฮิปเตอร์ ผู้ผลิตคือพี่น้องตระกูล Widmer ซึ่งนำเทคนิควิธีการการผลิตและการหมัก มาจากวิถีเยอรมันแบบแท้ๆ
        กลิ่นหอมๆของเบียร์และรสชาติของคาราเมลที่ไม่หวานจนเกินไป และสัมผัสเนื้อเบาบาง แค่นึกถึงก็อยากจะลองแล้ว
    </p>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
